.welcome__contianer {
  margin-top: 80px;
  text-align: center;
  justify-content: center;
  display: flex;
}
.welcome {
  font-weight: 700;
  font-size: 550%;
  font-family: sans-serif;
  text-align: center;
  padding-top: 0px;
  opacity: 0.9;
  position: relative;
}
.welcome::after {
  content: "|";
  position: absolute;
  right: 0;
  color: #f8e4e4;
  background-color: #f8e4e4;
  width: 100%;
  animation: typing 4s steps(50) infinite;
}
@keyframes typing {
  to {
    width: 0%;
  }
}

.home-area {
  align-content: center;
}
.welc__main {
  display: flex;
  padding-left: 75px;
  padding-right: 40px;
  text-align: center;
  opacity: 0.7;
}
.welcome__top {
  font-style: italic;
  font-size: large;
  font-weight: 600;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: absolute;
  margin-top: -40px;
  margin-left: 80px;
}
.logos {
  width: 50px;
  height: 50px;
  margin-top: 0px;
  position: absolute;
  margin-top: -90px;
  margin-left: 75px;
}
#welcome__body {
  justify-content: center;
  display: inline-flex;
  font-size: 170%;
  font-style: normal;
  font-family: sans-serif;
  margin-left: 160px;
  margin-top: 150px;
}
.fisrtpic {
  margin-top: 150px;
  width: 600px;
  height: 500px;
  margin-left: 600px;
}
