*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: linear-gradient(135deg, #fce4e4, #fdf0f0,);
    animation: backgroundAnimation 10s infinite alternate;
  
}

.main_container{
    height: 100vh;
    width: 100vw;
    margin: auto;
    background: linear-gradient(135deg, #fce4e4, #fdf0f0);
    animation: backgroundAnimation 10s infinite alternate;
}
 

 